.input{
    margin: 3rem;
    display: flex;
    justify-content: center;
}
.input input{
    background-color: rgb(181, 211, 224);
    width: 30rem;
    height: 50px;
    padding-left:10px;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 5px;
    outline: none;
    border: none;
}